name: Compile Pekko with Scala 3

on:
  pull_request:

permissions: {}

concurrency:
  # Only run once for latest commit per ref and cancel other (previous) runs.
  group: ci-scala3-${{ github.ref }}
  cancel-in-progress: true

jobs:
  compile:
    name: Compile
    runs-on: ubuntu-20.04
    if: github.repository == 'apache/pekko'
    strategy:
      matrix:
        command:
          - testkit/Test/compile actor-tests/Test/compile
          - actor-testkit-typed/Test/compile actor-typed-tests/Test/compile
          - bench-jmh/Test/compile
          - cluster/Test/compile cluster-tools/Test/compile cluster-typed/Test/compile distributed-data/Test/compile cluster-metrics/Test/compile cluster-sharding/Test/compile cluster-sharding-typed/Test/compile
          - discovery/Test/compile coordination/Test/compile
          - persistence/Test/compile persistence-shared/Test/compile persistence-query/Test/compile persistence-typed/Test/compile persistence-testkit/Test/compile persistence-tck/Test/compile persistence-typed-tests/Test/compile
          - pki/Test/compile slf4j/Test/compile
          - serialization-jackson/Test/compile
          - stream/Test/compile stream-testkit/Test/compile stream-tests/Test/compile stream-typed/Test/compile
          - stream-tests-tck/Test/compile
          - remote/Test/compile remote-tests/Test/compile protobuf-v3/Test/compile
      fail-fast: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup Java 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6

      - name: Enable jvm-opts
        run: cp .jvmopts-ci .jvmopts

      - name: Compile on Scala 3
        run: |
          sbt \
          "+~ 3 ${{ matrix.command }}"
